<div class="page__footer-follow">
    <ul class="social-icons">
        {% if site.data.ui-text[site.locale].follow_label %}
        <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
        {% endif %}

        {% if site.facebook_username %}
        <li>
            <a href="https://www.facebook.com/{{ site.facebook_username }}" itemprop="sameAs"
               rel="nofollow noopener noreferrer">
                <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i></a>
        </li>
        {% endif %}
    </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>
